body{
  font-family: 'Roboto', sans-serif;
  background-color: #161f22;
  text-align: center;
  padding: 0px;
  margin: 0;
}

/* //- colors for 2.0 - 2.0
$grey: #161f22l;
$red: #c80000;



/********************/

.navbar{
  padding: 1em;
  background-color: #0a0e0f;
  list-style: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 999;
  display: flex;
  align-items: center;
}

.flexin{
  height: 30px;
  width: 30px;
  margin-right: auto;
  background-image: url("bh-red-grey.png");
  background-size: contain;
}

/************************/

.container{
  padding: 2em;
}

button{
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 40px;
  color: #eaeaea;
  background-color: #0a0e0f !important;
}
  button:hover{
    color: #c80000;
    cursor: pointer;
  }

  button:focus {outline:0;}

.btn-lg{
  font-size: 14px !important;
}

.space{
  height: 100px;
  width: 100%;
}

form{
  justify-content: center;
  display: flex;
}

textarea{
  border-radius: 5px;
  resize: none;
  height: 300px !important;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

textarea:focus {outline:0;}

.lex{
  width: 300px;
}

.cst{
  width: 400px;
}

.ast{
  width: 350px;
}

.code{
  width: 250px;
  text-align: center;
}

.tabs{
  overflow: hidden;
  display: inline;
}

.input{
  height: 500px !important;
  width: 250px;
}

.output textarea{
  background: #eaeaea;
}

.trees{
  display: flex;
}

.white-space{
  width: 10px;
}

.btn-default{
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent !important;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
}

.btn-default:hover{
  transition: 0.5s;
  border: 2px solid #c80000;
}

.modal-content{
  display: none;
}

.fail{
  padding-right: 15px;
}

/*bottom bits*/
.footer{
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
}

#right{
  display: flex;
  box-sizing: border-box;
  padding-right:10px;
  justify-content: center;
}

#social-gt{
  color: #fff;
}
#social-gt:hover{
  color: #c80000;
  transition: color 0.3s linear;
}

#social-in{
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
}
#social-in:hover{
  color: #c80000;
  transition: color 0.3s linear;
}

#social-fa{
  padding-right: 12px;
  color: #fff;
}
#social-fa:hover{
  color: #c80000;
  transition: color 0.3s linear;
}

#social-ig{
  padding-right: 12px;
  color: #fff;
}
#social-ig:hover{
  color: #c80000;
  transition: color 0.3s linear;
}

.social-me{
  height: 32px;
	width: 32px;
	background-image: url("bh-white-grey.png");
	background-size: contain;
}
.social-me:hover{
  background-image: url("bh-red-grey.png");
  transition: .4s ease-in-out;
}

/* mobile bits */
@media only screen and (min-width: 320px) and (max-width: 1020px) {
  textarea{
    display: block;
    width: 100% !important;
  }
  .space{
    padding-top: 3em;
  }
  form{
    display: block;
  }
}
